.task-list {
  margin: 16px;
  padding: 20px;
  border-radius: var(--border-radius);
  backdrop-filter: var(--blur);
  box-shadow: var(--shadow);
  background: var(--color-light-bg);
  color: var(--color-text-light);
  transition: background 0.3s ease, color 0.3s ease;
}

body.dark .task-list {
  background: var(--color-dark-bg);
  color: var(--color-text-dark);
}

.task-list h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 1.4rem;
}

.add-task {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.add-task input {
  padding: 10px 12px;
  border-radius: 12px;
  border: none;
  outline: none;
  background: rgba(240, 240, 240, 0.349);
  font-size: 1rem;
  color: var(--color-text-light); /* текст у світлій темі */
  transition: background 0.3s ease, color 0.3s ease;
}

body.dark .add-task input {
  color: var(--color-text-dark); /* текст у темній темі */
  background: rgba(70, 50, 90, 0.3); /* фон інпуту у темній темі */
}

.add-task input::placeholder {
  color: rgba(0, 0, 0, 0.5); /* placeholder у світлій темі */
}

body.dark .add-task input::placeholder {
  color: rgba(255, 255, 255, 0.6); /* placeholder у темній темі */
}

.add-task textarea {
  padding: 10px 12px;
  border-radius: 12px;
  border: none;
  outline: none;
  background: rgba(240, 240, 240, 0.349);
  font-size: 1rem;
  color: var(--color-text-light);
  resize: vertical;
  transition: background 0.3s ease, color 0.3s ease;
  line-height: 1.4;
  resize: none;
  
}

body.dark .add-task textarea {
  color: var(--color-text-dark);
  background: rgba(70, 50, 90, 0.3);
}

.add-task textarea::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

body.dark .add-task textarea::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.add-task button {
  padding: 10px 16px;
  background: var(--color-purple);
  border: none;
  border-radius: 12px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.add-task button:hover {
  background: #9a5eff;
}
